<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error - Shortbin</title>
  <style>
    :root { color-scheme: light dark; }
    body { font-family: sans; background-color: light-dark(#fff, #222); }
    .content { width: calc(100% - 24px); max-width: 1080px; margin: auto; color: light-dark(#444, #fff); }
    .content h1 { font-family: sans; font-weight: normal; margin: 36px 0; }
  </style>
</head>
<body>
  <div class="content">
    <h1>Shortbin</h1>
    <p><b><!-- error-message --></b></p>
  </div>
</body>
</html>